# Profil określający nazwę pliku z ustawieniami.
# np. dla ACTIVE_PROFILE=rpi5-worker system spróbuje załadować plik: data/settings.rpi5-worker.json
# Domyślnie ładuje 'default' (data/settings.default.json)
ACTIVE_PROFILE=default

# (Opcjonalnie) Nadpisanie ścieżki do folderu "data", użyteczne dla skompilowanych plików binarnych
# REGIS_DATA_DIR=C:\Users\Nazwa\Katalog_Z_Konfiguracja
